@import '../../../design/Theme/theme.scss';

.schedulingHeader {
    @include themify($themes){
    position: relative;
    width: 100%;

    img {
        height: 30vh;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    h3 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-shadow: 5px 5px 5px black;   
        font-size: 1.2rem;
        display: flex;
           @include mobile {
                font-size: 0.9rem;
             }
    }
}
}
