// @import '../../../theme.scss';

.productPage {
    // @include themify($themes){
      flex: 3.21; // teste
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
      height: 150vh;
      width: 100%;
      width: 71vw;  
      overflow: scroll;
        &::-webkit-scrollbar {
          display: none;
        }

        // @include mobile {
        //   width: 53%; // gambiarra
        // }
    }
// }
