// @import '../../../../theme.scss'; 

.menuTopSearch {
    // @include themify($themes){
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;
    // @include mobile{
    //     display: none;
    // }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        
    }

    .search {
        display: flex;
        align-items: center;
        background-color: rgb(224, 217, 217);
        border-radius: 20px;
        height: 1.5rem;
        width: 25rem;
        padding: 5px 20px 5px 20px;
        
        input {
            background-color: rgb(224, 217, 217);
            border: none;
            outline: 0;
            padding-left: 8px;
            width: 25rem;
        }
    }
}
// }