@import '../../design/Theme/theme.scss';

.services {
    @include themify($themes){

    flex: 3.5;
    // display: flex;
    // flex-direction: column;
    height: 91.8vh;
    background-color: themed('backgColor');
    overflow: scroll;
 
    &::-webkit-scrollbar {
        display: none;
    }

    // div {
    //     height: 100%;
    //     padding: 20px;

    //     form {
    //         background: rgb(224, 221, 221);
    //     }
    // }
}}