@import '../../../design/Theme/theme.scss';

.modalCart {
    // @include themify($themes){
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    
div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;

        img {
            height: 80px;
            width: 120px;
            object-fit: cover;
            // @include mobile {
            //     height: 70px;
            //     width: 120px;
            }   
        } 

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        
            span:nth-child(1) {
                font-weight: 600;
                font-size: 0.8rem;
                    // @include mobile {
                    //     font-size: 0.7rem;
                    // }   
            }            
            span:nth-child(2) {
                font-weight: 400;
                font-size: 0.8rem;
                // @include mobile {
                //     font-size: 0.7rem;
                // }   
            }

            span:nth-child(3)  {
                font-size: 0.8rem;
                color: green;
                // @include mobile {
                //     font-size: 0.7rem;
                // }   
            }
        }
    }
// }}