@import '../../design/Theme/theme.scss';

.chat {
    @include themify($themes){
    flex: 3.5;
    display: flex;
    height: 91.8vh;
    background-color: themed('backgColor');
    overflow: scroll;
 
    &::-webkit-scrollbar {
        display: none;
    }

    .chatBox {
        display: flex;
        padding: 20px;
    }
}}