// @import '../../../theme.scss';


.schedulingList {
    // @include themify($themes){
    // background-color: themed('bgTimeline');
    // padding: 20px;
    // background-color: rgb(224, 217, 217);
    // border-radius: 10px;
    // padding: 30px;
    // height: 20vh;
    background-color: rgb(224, 217, 217);
    border-radius: 10px;
    
    h3 { 
        // font-size: 16px;
        // font-size: 1rem;
    // display: flex;
        // @include mobile {
        //     font-size: 0.9rem;
        // }
    }

    div {
        // display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        text-align: center;
        // @include mobile {
        //     grid-template-columns: 1fr 1fr ;
        // }
       
    span {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // background: white;
        // height: 30px;
        // width: 120px;
        // border-radius: 20px;
        // font-size: 12px;
        // box-shadow: 4px 4px 4px grey;
        // cursor: pointer;
        }
    }
}
// }