@import '../../../design/Theme/theme.scss';


.welcome {
    @include themify($themes){
    display: flex;
    flex-direction: column;
        h1 {
            font-size: 16px;
            color: themed('textColor');
        }

        img {
            height: 260px;
            width: 440px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
