$themes: (
  light: (
    textColor: navy,
    backgColor: white,    
    backgBoxColor: rgb(224, 217, 217),
    shadowBoxColor: 4px 4px 10px 2px rgba(201, 201, 201, 0.47),
    tHeadColor: grey,
    btnCreatColor: blue,
    btnEditColor: green,
    btnDelColor: red,
  ),
  dark: (
    textColor: white,
    backgColor: black,    
    backgBoxColor: rgb(73, 68, 68),
    shadowBoxColor: 4px 4px 10px 2px rgba(247, 247, 247, 0.47),
    tHeadColor: rgb(44, 43, 43),
    btnCreatColor: blue,
    btnEditColor: green,
    btnDelColor: red,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin mobile {
  @media (max-width: 580px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 960px) {
    @content;
  }
}
