.home{
    flex: 3.5;
    display: flex;
    flex-direction: column;
    height: 91.8vh;
    overflow: scroll;
 
    &::-webkit-scrollbar {
        display: none;
      }

    .homeUsers {
        display: flex;
    }

    .homeSocial {
        display: flex;
    }
}