.menuLeft {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    padding: 40px 20px 0px 40px;
    gap: 28px;  
    border-right: 1px solid rgb(224, 217, 217);
 
    h1 {
        font-size: 16px;
        color: navy;
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;
        color: navy;
        cursor: pointer;
    
        .icon {
            font-size: 25px;
            cursor: pointer;      
        }
    }
    span {
        font-size: 0.95rem;
    }
}