@import '../../../design/Theme/theme.scss';

.productPromotions {
    @include themify($themes){
        display: flex;
        justify-content: center;
        background-color: themed('backgBoxColor');
        border-radius: 10px;
        padding: 20px;
        
        .companyPromotionItem {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            @include mobile {
                display: grid;
                grid-template-columns: 1fr 1fr;
                
            }   
            
        div {
            position: relative;

            img {
                height: 200px;
                width: 300px;
                object-fit: cover;
                border-radius: 5px;
                @include mobile {
                    height: 10px;
                    width: 180px;
                }
            }

            span {
                position: absolute;
                bottom: 0;
                left: 5%;
                font-size: 1rem;
                font-weight: 600;
                color: white;
                text-shadow: 5px 5px 5px black;
                @include mobile {
                    font-size: 0.9rem;
                } 
            }     
            }
        }
    }
}