@import '../../design/Theme/theme.scss';

.charts  {
    @include themify($themes){
    flex: 3.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 85vh;
    padding: 20px;
    background-color: themed('backgColor');

    overflow: scroll;
   
    &::-webkit-scrollbar {
        display: none;
      }
    
    .chartsWidget {
        display: flex;
        gap: 10px;  
        @include mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .chartsBox {
        display: flex;
        align-items: center;

        gap: 20px;
        @include mobile {
             flex-direction: column;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px
        }
    }
}}