.menuCompany{
    display: flex;
    height: 7vh;
    background-color: rgb(224, 217, 217);
    border-radius: 10px;
    padding-left: 20px;
    gap: 20px;
    
        span {
            font-size: 1rem;
            padding: 10px;
            color: white;
            cursor: pointer;
        }
}