// @import '../../../theme.scss';

.schedulingContact {
    //  @include themify($themes){
    // background-color: themed('bgTimeline');
    // color: themed('menuColor');  
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    h3 {
        font-size: 1rem;
        display: flex;
        // @include mobile {
        //     font-size: 0.9rem;
        // }
    }

    .compShedContactBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // @include mobile {
        //     flex-direction: column;
        // }

        div {
            display: flex;
            flex-direction: column;
            gap: 20px;
            // @include mobile {            
            //     align-items: center;
            // }

            span {
                color: white;
                padding: 20px;
                border-radius: 10px;
                border: 1px solid white;
                height: 140px;
                width: 450px;
                box-shadow: 3px 3px 3px grey;
                font-size: 1 rem;
                // @include mobile {
                //     width: 350px;
                //     font-size: 0.9rem;
                // }
            }

            button {
                width: 150px;
                background: blue;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;    
                // @include mobile {
                //     width: 100px;
                //     margin-bottom: 20px;
                //     font-size: 0.8rem;
                // }
            }
        }
        
        img {
            height: 250px;
            width: 400px;
            border-radius: 10px;
            object-fit: cover;
        //     @include mobile {
        //         height: 200px;
        //     }
        }
    }   
}