.purchaseOrder {
    flex: 3.5;
    height: 92vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        height: 200px;

    }
}