@import '../../../design//Theme/theme.scss';

.messages {
    @include themify($themes){
    border-radius: 20px;
    width: 52vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mobile {
        display: none;
    }
    
    .messagesLine {
        
        overflow: scroll;
           height: 80vh; 
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
}