@import '../../../design/Theme/theme.scss';

.menuMobile {
    @include themify($themes){
        display: none;
        justify-content: center;
        gap: 25px;
        padding-top: 15px;
        background-color: themed('backgColor');
            @include mobile {
                display: flex;
            }   

            span {
                font-size: 20px;
                color: themed('menuColor');
                cursor: pointer;
            }
    }
}
