@import '../../../design/Theme/theme.scss';

.simpleAreaChart{
    @include themify($themes){
    height: 25vh;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(201, 201, 201, 0.47);
    }
}
