@import '../../design/Theme/theme.scss';


.followers {
    @include themify($themes){
    flex: 3.5;
    display: flex;
    flex-direction: column;
    height: 91.8vh;
    background-color: themed('backgColor');
    overflow: scroll;
 
    &::-webkit-scrollbar {
        display: none;
    }
}}