@import '../../../design/Theme/theme.scss';

.newProduct {
    @include themify($themes){
    flex: 3.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
    height: 91.8vh;
    background-color: themed('backgColor');
    overflow: scroll;
   
    &::-webkit-scrollbar {
        display: none;
    }

    .div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(224, 217, 217);
        border-radius: 10px;
        width: 96%;;
    }
}}