@import '../../../design/Theme/theme.scss';

.schedulingPage {
  @include themify($themes){
    flex: 3.5; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 91.8vh;
    background-color: themed('backgColor');
    overflow: scroll;
    
      &::-webkit-scrollbar {
        display: none;
      }
       
      .schedulingPageBox {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
      } 
    }
}
